.takeCare {
  width: 100%;

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 50px;
    color: #212121;
  }

  .items {
    display: inline-block;
    display: flex;
    justify-content: center;
    .item {
      display: inline-block;
      margin: 0 15px;
    }
  }
}
