@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

$MainFontColor: #000;
$secColor: #2196f3;
$contactColor: #757575;
$mottoColor: #fff;
$bgColor: #2f303a;
